# ==========================================
# KONFIGURASI BACKEND (SIMAKIS) - LOKAL
# ==========================================

# Mode Aplikasi
APP_NAME=SIMAKIS
DEBUG=True

# Database
# Opsi 1 (Lokal WSL): SQLite (tanpa perlu install MySQL service)
DATABASE_URL=sqlite:///./simakis_local.db

# Opsi 2 (Server / MySQL jika sudah terinstall):
# DATABASE_URL=mysql+pymysql://root:password@localhost:3306/simakis

# Keamanan Auth & JWT
JWT_SECRET=rahasia-super-aman-simakis-lamongan-2026
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# PDP Vault (Kunci Enkripsi Data Pribadi Warga Pelapor - UU PDP)
PDP_ENCRYPTION_KEY=simakis-pdp-encryption-key-32ch

# Object Storage (MinIO / S3 untuk Media Foto Bukti)
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=simakis-media

# AI Pipeline
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
